node_modules
*.env
.env
data
vendor
.gomon
.vscode
*.log
static/**/*
build/postgres
data
*.pdf
build
*.tar
tmp
seeds
report.txt
*dev.sh
views/**/*.txt
*.acl
*.out
reports/*
age-key*
*.tar.gz
*templ.go
benchmarks
*reports
