package layouts

import (
	"github.com/Francesco99975/urx/internal/config"
	"github.com/Francesco99975/urx/views/components"
	"strconv"
)

// Base layout for unauthenticated pages
templ Base(site config.Site) {
	@CoreHTML(site) {
		<div class="min-h-screen flex flex-col">
			@components.Header(site)
			{ children... }
			@components.Footer(site.AppName, strconv.Itoa(site.Year))
		</div>
	}
}
