package layouts

import (
	"github.com/Francesco99975/urx/internal/config"
	"github.com/Francesco99975/urx/views/components"
)

templ CoreHTML(site config.Site) {
	<!DOCTYPE html>
	<html lang="en">
		@components.SEO(site)
		<body class="bg-std antialiased min-h-screen transition-colors">
			{ children... }
		</body>
		for _, script := range site.PageScripts {
			@components.Script(script.JSFile, site.Nonce, script.JSIntegrity)
		}
	</html>
}
