package ui

func WithLoading(indicatorID string) templ.Attributes {
	return templ.Attributes{
		"hx-indicator":    "#" + indicatorID,
		"hx-disabled-elt": "find input, find select, find textarea, find checkbox, find radio, find button",
	}
}
